<aside id="all-list">
  <div class="f-left">
    <%= link_to "Tout afficher", herbarium_index_path %>
  </div>
  <div class="vertical-menu f-one">
    <i class="fas fa-caret-up"></i>
  </div>
</aside>

<aside id="category">
  <div class="f-left">
    <nav>
      <% @all_cat.each do |c| %>
        <%= link_to search_h_path(c.name), :remote => true do %>
          <span style="border-left: 10px solid <%= c.color %>;">
            <%= c.name %>
          </span>
        <% end %>
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Category
  </div>
</aside>


<aside id="season">
  <div class="f-left">
    <nav>
      <% @all_season.each do |s| %>
          <%= link_to search_h_path(s.name), :remote => true do %>
            <span style="border-left: 10px solid <%= s.color %>;">
              <%= s.name %> 
            </span>
          <% end %> 
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Saison
  </div>
</aside>


<aside id="rarity-h">
  <div class="f-left">
    <nav>
      <% @all_rarity.each do |r| %>
        <%= link_to search_h_path(r.name), :remote => true do %>
          <span style="border-left: 10px solid <%= r.color %>;">
            <%= r.name %> 
          </span>
        <% end %>    
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Rareté
  </div>
</aside>


<aside id="habitat-h">
  <div class="f-left">
    <nav>
      <% @all_habitat.each do |hh| %>
        <%= link_to search_h_path(hh.name), :remote => true do %>
          <span style="border-left: 10px solid <%= hh.color %>;">
            <%= hh.name %> 
          </span>
        <% end %>     
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Habitat
  </div>
</aside>
