<div class="f-left" style="border:1px solid red; ">


<a href="/herbarium" class="navright">Voir toutes les plantes</a>


<% if params[:id] %> 
<% elsif %>
<div class="index_list">

  <h5>Categorie</h5>
  <% @all_cat.each do |c| %>
      <span style="background-color: <%= c.color %>;" class="badge">
      <%= link_to search_h_path(c.name), :remote => true do %>
        <%= c.name %>
      <% end %>
      </span>
  <%end%>

  <br /><br />
  <h5>Saisons</h5>
  <% @all_season.each do |s| %>
      <span style="background-color: <%= s.color %>;" class="badge">
      <%= link_to search_h_path(s.name), :remote => true do %>
        <%= s.name %>
      <% end %>      </span> 
  <%end%>

  <br /><br />
  <h5>Rarete</h5>
    <% @all_rarity.each do |r| %>
      <span style="background-color: <%= r.color %>;" class="badge">
      <%= link_to search_h_path(r.name), :remote => true do %>
        <%= r.name %>
      <% end %>      </span>
    <%end%>

  <br /><br />
  <h5>Habitat</h5>
  <% @all_habitat.each do |hh| %>
      <span style="background-color: <%= hh.color %>;" class="badge">
      <%= link_to search_h_path(hh.name), :remote => true do %>
        <%= hh.name %>
      <% end %>      </span>
  <%end%>


</div>

<%end%>


</div>

<div class="vertical-menu">
  Trier
</div>