

<% @all_herbarium.each do |herbarium| %>

  <article>
    <a href="/herbarium/<%= herbarium.id %>">
      <img src="<%= herbarium.image%>" alt="image de la plante">
    </a>
    
    <h2>
      <%= herbarium.name %>
    </h2>
    <p>
      Catégorie : <strong><%= herbarium.category.name %></strong><br>
      Rareté : <strong><%= herbarium.rarity_herbarium.name %></strong><br>
      Habitat : <strong><%= herbarium.habitat_herbarium.name %></strong><br>
      Saison : <strong><%= herbarium.season.name %></strong>
    </p>

  </article>
  

<% end %> 