
<% n = Category.find_by(name: params[:id]) %>
<div class="under_left" style="background-color:<%= n.color %>;">

<%= render 'indexherbarium' %>


</div>

<%= render 'headherbarium' %>

<h1 style="color:<%=n.color%>;"><%= n.name %></h1>


<% category = Category.find_by(name: params[:id]) %>
<% all_herbarium = Herbarium.where(category_id: category.id) %>


<div class="d-flex justify-content-around flex-wrap">

<% all_herbarium.each do |herbarium| %>

    <div class="article card d-flex flex-column justify-content-between">

    <div><a href="/herbarium/<%= herbarium.id%>">
    <img src="<%= herbarium.image%>" alt="image de la plante"></a><br />

    <div class="art_title"><%= herbarium.name %></div>
    </div>

    <div class="art_content">

    <span style="background-color: <%= herbarium.category.color %>;" class="badge">
    <a href="/herbarium/category/<%= herbarium.category.name %>"><%= herbarium.category.name %></a>
    </span>

    <span style="background-color: <%= herbarium.rarity_herbarium.color %>;" class="badge">
    <a href="/herbarium/rarity/<%= herbarium.rarity_herbarium.name %>"><%= herbarium.rarity_herbarium.name %></a>
    </span>

    <span style="background-color: <%= herbarium.season.color %>;" class="badge">
    <a href="/herbarium/season/<%= herbarium.season.name %>"><%= herbarium.season.name %></a>
    </span>
    
    <span style="background-color: <%= herbarium.habitat_herbarium.color %>;" class="badge">
    <a href="/herbarium/habitat/<%= herbarium.habitat_herbarium.name %>"><%= herbarium.habitat_herbarium.name %></a>
    </span>
    </div>

    <a href="/herbarium/<%= herbarium.id %>"><div class="art_foot">
      En savoir plus
    </div></a>

    </div>

<% end %>
</div>
