<h1>Herbarium index</h1>

<%= link_to "ajouter une plante a l'herbier", new_herbarium_path %>


<br /><br />
<strong>Afficher les plantes par saisons : </strong><br />
<% all_season = Season.all%>
<% all_season.each do |s| %>
    <a href="herbarium/season/<%= s.name%>"><%= s.name %></a> - 
<%end%>

<br /><br />
<strong>Afficher les plantes par rareté : </strong><br />
<% all_rarity = RarityHerbarium.all%>
  <% all_rarity.each do |r| %>
    <a href="herbarium/rarity/<%= r.name%>"><%= r.name %></a> - 
  <%end%>

<br /><br />
<strong>Afficher les plantes par habitat : </strong><br />
<% all_habitat = HabitatHerbarium.all%>
<% all_habitat.each do |hh| %>
    <a href="herbarium/habitat/<%= hh.name%>"><%= hh.name %></a> - 
<%end%>

<br /><br />
<strong>Afficher les plantes par catégorie : </strong><br />
<% all_cat = Category.all%>
  <% all_cat.each do |c| %>
    <a href="herbarium/category/<%= c.name%>"><%= c.name %></a> - 
  <%end%>

<br /><br />
<h2>Toutes les plantes de l'herbier</h2>
<br />  

<% all_herbarium = Herbarium.all %>
<% all_herbarium.each do |h| %>

    Nom : <%= h.name %> | Catégorie : <%= h.category.name %> <br />
    Habitat : <%= h.habitat_herbarium.name %> - <%= h.location %><br />
    Saison : <%= h.season.name %> | Rareté : <%= h.rarity_herbarium.name %>
    <br /><br />
    <img src="<%= h.image %>" class="img_index">
<br /><br />
Proposé par : <%= h.user.pseudo %>

<br /><br />
<%if current_user.rank == "A.dmin0018" %>
<a href="/herbarium/<%=h.id%>/edit">Editer</a>
<%end%><br /><br />

    -----

<% end %>