
<% herbarium = Herbarium.find(params[:id]) %>
<% n = herbarium.category %>
<div class="under_left" style="border: 1px solid <%= n.color %>;">

<%= render 'indexherbarium' %>

</div>



<%= render 'headherbarium' %>



<div class="card" style="max-width: 760px;">

  <div class="art_title_show"><%= herbarium.name %></div>

  <div class="row no-gutters">
    <div>
      <img src="<%= herbarium.image %>" class="img_profile" alt="image de la plante">
    </div>
    
    <div class="col-md-8">

      <div class="card-body">
        <p class="card-text">

        Catégorie : <font class="badge" style="background-color:<%= herbarium.category.color %>;"><%= herbarium.category.name %></font><br />
        Rareté : <font class="badge" style="background-color:<%= herbarium.rarity_herbarium.color %>;"><%= herbarium.rarity_herbarium.name %></font><br />
        Habitat : <font class="badge" style="background-color:<%= herbarium.habitat_herbarium.color %>;"><%= herbarium.habitat_herbarium.name %></font><br />
        <small><%= herbarium.location %></small><br />
        Saison : <font class="badge"><%= herbarium.season.name%></font><br />   
        Taille : <font class="badge"><%= herbarium.height %></font><br />        
        
        </p>
      </div>
    </div>
  </div>

  <div class="art_descrip">
    <%= herbarium.description %>
  </div>

</div>
<input type="checkbox" id="spoiler" /> 
<label for="spoiler">Voir l'image en plus grand</label>
<div class="spoiler">
<img class="big_image" src="<%= herbarium.image %>">
</div>



<div class="art_bot text-muted">
<% unless current_user %><%else%>
<% if current_user.rank == "A.dmin0018"%>
  <a href="<%=edit_herbarium_path%>">editer</a> | 
<%end%><%end%>
Proposé par <a href="/user/<%= herbarium.user.id %>"><%= herbarium.user.pseudo %></a>
</div>
