<%= render 'adminhead' %>


<h1>Le bestiaire</h1>
<div class="underh1">Panneau d'administration</div>

<div style="border:1px solid #dedede; padding:5px;">
<% bestiary = Bestiary.all %>
<% x = 1 %>

<% bestiary.each do |b| %>

  <% if x == 1 %>
    <div class="ind1">
    <% x = x + 1 %>  

<table width="100%"><tr>  
  <td width="50"><img src="<%= b.image %>" class="min_ico"></td>
  <td width="10"></td>
  <td width="250">
  <%= b.id %> - <strong><%= b.name %></strong> <br />
  <small><%= b.level.name %> - <%= b.rarity_bestiary.name %> </small>
  </td>
  <td>
  <small>
  <strong><%= b.habitat_bestiary.name %></strong> : <%= b.location %><br /></small>
  </td>
  <td width="50">
  <div class="tab"><a href="/bestiary/<%= b.id %>">VOIR</a></div>
  </td> 
  <td width="60">
  <div class="tab"><a href="/bestiary/<%= b.id %>/edit">EDITER</a></div>
  </td>
</tr> </table>

</div>
<%else %>

<div class="ind2">
<% x = 1 %>

<table width="100%"><tr>  
  <td width="50"><img src="<%= b.image %>" class="min_ico"></td>
  <td width="10"></td>
  <td width="250">
  <%= b.id %> - <strong><%= b.name %></strong> <br />
  <small><%= b.level.name %> - <%= b.rarity_bestiary.name %> </small>
  </td>
  <td>
  <small>
  <strong><%= b.habitat_bestiary.name %></strong> : <%= b.location %><br /></small>
  </td>
  <td width="50">
  <div class="tab"><a href="/bestiary/<%= b.id %>">VOIR</a></div>
  </td> 
  <td width="60">
  <div class="tab"><a href="/bestiary/<%= b.id %>/edit">EDITER</a></div>
</td>  </tr> </table>

</div>
<%end%>

<%end%>

</div>