<%= render 'adminhead' %>

<h1>Le bestiaire</h1>
<span class="under-title">Panneau d'administration</span>

<div class="list-admin">

  <% @all_bestiary.each do |b| %>

    <div>
    <img src="<%= b.image %>">  
    <%= b.id %> - <strong><%= b.name %></strong>
    <small>
      <span style="color: <%= b.level.color %>;"><i class="fas fa-skull-crossbones"></i></span>
      <%= b.level.name %> -
      <span style="color: <%= b.rarity_bestiary.color %>;"><i class="fas fa-star"></i></span> 
      <%= b.rarity_bestiary.name %> - 
      <span style="color: <%= b.habitat_bestiary.color %>;"><i class="fas fa-home"></i></span>
      <%= b.habitat_bestiary.name %>
      <%if b.pet %>
      <% if b.pet.id != 1 %> - 
        <span style="color: <%= b.pet.color %>;"><i class="fas fa-heart"></i></span>
        <%= b.pet.name %>
      <%end%>
      <%end%>
    </small>

    <%= link_to bestiary_path(b.id), method: :delete, :data => {:confirm => 'Êtes vous sur de vouloir supprimer cette créature ? Cette action est irréversible'} do %> <i class="fas fa-trash-alt"></i> <%end%>
    <%= link_to "Editer", edit_bestiary_path(b.id) %>
    <%= link_to "Voir", bestiary_path(b.id) %>

    </div>


  <%end%>

</div>
