<%= render 'adminhead' %>

<h1>Le bestiaire</h1>
<div class="underh1">Panneau d'administration</div>

<div class="list-admin">

  <% @all_bestiary.each do |b| %>

    <div>
    <img src="<%= b.image %>">  
    <%= b.id %> - <strong><%= b.name %></strong>
    <small>
      <span style="color: <%= b.level.color %>;"><i class="fas fa-skull-crossbones"></i></span>
      <%= b.level.name %> -
      <span style="color: <%= b.rarity_bestiary.color %>;"><i class="fas fa-star"></i></span> 
      <%= b.rarity_bestiary.name %> - 
      <span style="color: <%= b.habitat_bestiary.color %>;"><i class="fas fa-home"></i></span>
      <%= b.habitat_bestiary.name %>
    </small>

    <%= link_to bestiary_path(b.id), method: :delete, :data => {:confirm => 'Êtes vous sur de vouloir supprimer cette créature ? Cette action est irréversible'} do %> <i class="fas fa-trash-alt"></i> <%end%>
    <%= link_to "Editer", edit_bestiary_path(b.id) %>
    <%= link_to "Voir", bestiary_path(b.id) %>

    </div>


  <%end%>

</div>
