<%= render 'adminhead' %>

<h1>Vue generale</h1>
<div class="underh1">Panneau d'administration</div>

En attente de validation.. 

  <%= render 'bestiarytocheck' %>
  <%= render 'herbariumtocheck' %>


<div class="d-flex flex-nowrap justify-content-between">
<div style="width:49%; text-align:right;"><h1>bestiaire</h1>

<%all_bestiary = Bestiary.all %>
<div class="title_box2">Nombre de bêtes : <%= all_bestiary.length %></div><br /><br />

<h5>Rarete</h5>
<% all_rarity = RarityBestiary.all%>
  <% all_rarity.each do |r| %>
    <%rarity = Bestiary.where(rarity_bestiary_id: r.id)%>
    <%= r.name %> - <em> <%= rarity.length %></em><br />
  <%end%><br />

<h5>Habitat</h5>
<% all_habitat = HabitatBestiary.all%>
  <% all_habitat.each do |h| %>
    <%habitat = Bestiary.where(habitat_bestiary_id: h.id)%>
    <%= h.name %> - <em> <%= habitat.length %></em><br />
  <%end%><br />

  <h5>Dangerosite</h5>
  <% all_level = Level.all%>
    <% all_level.each do |lv| %>
      <%level = Bestiary.where(level_id: lv.id)%>
      <%= lv.name %> - <em> <%= level.length %></em><br />
    <%end%><br />
  
</div>
<div style="width:49%;"><h1>herbier</h1>

<%all_herbarium = Herbarium.all %>
<div class="title_box2">Nombre de plantes : <%= all_herbarium.length %></div><br /><br />

<h5>Rarete</h5>
<% all_rarity = RarityHerbarium.all%>
  <% all_rarity.each do |r| %>
    <%rarity = Herbarium.where(rarity_herbarium_id: r.id)%>
     <em><%= rarity.length %></em> - <%= r.name %><br />
  <%end%><br />

<h5>Habitat</h5>
<% all_habitat = HabitatHerbarium.all%>
  <% all_habitat.each do |hh| %>
    <%habitat = Herbarium.where(habitat_herbarium_id: hh.id)%>
    <em><%= habitat.length %></em> - <%= hh.name %> <br />
  <%end%><br />

<h5>Saisons</h5>
<% all_season = Season.all%>
  <% all_season.each do |s| %>
    <%season = Herbarium.where(season_id: s.id)%>
    <em><%= season.length %></em> - <%= s.name %> <br />
  <%end%><br /><br />

<h5>Categories</h5>
<% all_cat = Category.all%>
  <% all_cat.each do |c| %>
    <%cat = Herbarium.where(category_id: c.id)%>
    <em><%= cat.length %></em> - <%= c.name %> <br />
  <%end%><br />
</div>
</div>