<%= render 'adminhead' %>

<h1>Vue generale</h1>
<span class="under-title">Panneau d'administration</span>

<div class="wrapper">
  <h2><strong>En attente de validation</strong></h2>
  <span class="mini up ls2">Le bestiaire</span>
  <%= render 'bestiarytocheck' %>
  <br>
  <span class="mini up ls2">L'herbier</span>
  <%= render 'herbariumtocheck' %>
</div>

<h1 class="mt-5">Les chiffres</h1>
<span class="under-title">Statistiques générales</span>

<div class="d-flex flex-nowrap justify-content-center">
  <div class="text-right gen-admin">
    <h2><strong>Le bestiaire</strong></h2>

    <%all_bestiary = Bestiary.all %>
    <span>Nombre de bêtes : <%= all_bestiary.length %></span>

    <div class="d-flex flex-wrap justify-content-between">

      <div>
        <h5>Rarete</h5>
        <% all_rarity = RarityBestiary.all%>
        <% all_rarity.each do |r| %>
          <%rarity = Bestiary.where(rarity_bestiary_id: r.id)%>
          <span>
            <%= r.name %><strong> <%= rarity.length %></strong>
          </span>
        <%end%>
      </div>

      <div>
        <h5>Habitat</h5>
        <% all_habitat = HabitatBestiary.all%>
        <% all_habitat.each do |h| %>
          <%habitat = Bestiary.where(habitat_bestiary_id: h.id)%>
          <span>
            <%= h.name %><strong> <%= habitat.length %></strong>
          </span>
        <%end%>
      </div>

      <div>
        <h5>Dangerosite</h5>
        <% all_level = Level.all%>
        <% all_level.each do |lv| %>
          <%level = Bestiary.where(level_id: lv.id)%>
          <span>
            <%= lv.name %><strong> <%= level.length %></strong>
          </span>
        <%end%>
      </div>

      <div>
        <h5>Familier</h5>
        <% all_pet = Pet.all%>
        <% all_pet.each do |p| %>
          <%pet = Bestiary.where(pet_id: p.id)%>
          <span>
            <%= p.name %><strong> <%= pet.length %></strong>
          </span>
        <%end%>
      </div>

    </div>
    
  </div>

  <div class="gen-admin">
    <h2><strong>L'herbier</strong></h2>

    <%all_herbarium = Herbarium.all %>
    <span>Nombre de plantes : <%= all_herbarium.length %></span>

    <div class="d-flex flex-wrap justify-content-between">

      <div>
        <h5>Rarete</h5>
        <% all_rarity = RarityHerbarium.all%>
        <% all_rarity.each do |r| %>
          <%rarity = Herbarium.where(rarity_herbarium_id: r.id)%>
          <span>
            <%= r.name %><strong><%= rarity.length %></strong>
          </span>
          </span>
        <%end%>
      </div>

      <div>
        <h5>Habitat</h5>
        <% all_habitat = HabitatHerbarium.all%>
        <% all_habitat.each do |hh| %>
          <%habitat = Herbarium.where(habitat_herbarium_id: hh.id)%>
          <span>
            <%= hh.name %><strong><%= habitat.length %></strong>
          </span>
        <%end%>
      </div>

      <div>
        <h5>Saison</h5>
        <% all_season = Season.all%>
        <% all_season.each do |s| %>
          <%season = Herbarium.where(season_id: s.id)%>
          <span>
            <%= s.name %><strong><%= season.length %></strong>
          </span>
        <%end%>
      </div>

      <div>
        <h5>Categorie</h5>
        <% all_cat = Category.all%>
        <% all_cat.each do |c| %>
          <%cat = Herbarium.where(category_id: c.id)%>
          <span>
            <%= c.name %><strong><%= cat.length %></strong> 
          </span>
        <%end%>
      </div>
    
    </div>

    </div>

  </div>
</div>