<%= render 'adminhead' %>

<h1>Les contribueurs</h1>
<span class="under-title">Panneau d'administration</span>

<div class="list-admin">

  <% @all_user.each do |u| %>

    <div>
    <img src="<%= u.img_profile %>">  
    <%= u.id %> - <strong><%= u.pseudo %></strong>
    <small>
    <% if u.rank != "Ar-admin2020" %>
      <% if u.rank = ""%>
        
      <%else%>
        <strong><%= u.rank %> -</strong>
      <%end%>
    <%else%>
      <strong>Administrateur -</strong>
    <%end%>
     <%= u.character %>
    </small>

    <span>
      <% user_bestiary = Bestiary.where(user_id: u.id) %>
      <%if user_bestiary.length == 0%> <span style="color:red;"> 0 créature proposée </span>
      <% else %>
      <%= user_bestiary.length %> créatures proposées 
      <%end%> - 
      <% user_herbarium = Herbarium.where(user_id: u.id) %>
      <%if user_herbarium.length == 0%> <span style="color:red;"> 0 plante proposée </span>
      <% else %>
      <%= user_herbarium.length %> plantes proposées 
      <%end%> 
    </span>

    <%= link_to "Profil", user_path(u.id) %>

    </div>


  <%end%>

</div>
