
<div class="left">
<div class="titleleft">Panneau d'administration</div>
<a href="<%= admin_user_path%>" class="navleft">Les membres</a>
<a href="<%= admin_bestiary_path%>" class="navleft">Le bestiaire</a>
<a href="<%= admin_herbarium_path%>" class="navleft">L'herbier</a>
<a href="/admin" class="aryon">Vue d'ensemble</a> 
</div>



<h1>Tous les membres</h1>

<br /><br />
<% user = User.all %>
<% x = 1 %>

<% user.each do |u| %>

  <% if x == 1 %>
    <div class="ind1">
    <% x = x + 1 %>  

<table width="100%"><tr>  
  <td width="50"><img src="<%= u.img_profile %>" class="min_ico"></td>
  <td width="200">
  <%= u.id %> - <strong><%= u.pseudo %></strong> <br />
  <small><%= u.rank %></small>
  </td>
  <td>
  <small>
  <%= u.character %><br /></small>
  </td><td width="250"> <small>
  <% user_bestiary = Bestiary.where(user_id: u.id) %>
  <%= user_bestiary.length %> créatures proposées
  <br />
  <% user_herbarium = Herbarium.where(user_id: u.id) %>
  <%= user_herbarium.length %> plantes proposées
  </small>
  </td>
<td width="60">
<div class="tab"><a href="/user/<%= u.id %>">PROFIL</a></div>
</td>
</tr> </table>

</div>
<%else %>

<div class="ind2">
<% x = 1 %>

<table width="100%"><tr>  
  <td width="50"><img src="<%= u.img_profile %>" class="min_ico"></td>
  <td width="200">
  <%= u.id %> - <strong><%= u.pseudo %></strong> <br />
  <small><%= u.rank %></small>
  </td>
  <td>
  <small>
  <%= u.character %><br /></small>
  </td><td width="250"> <small>
  <% user_bestiary = Bestiary.where(user_id: u.id) %>
  <%= user_bestiary.length %> créatures proposées
  <br />
  <% user_herbarium = Herbarium.where(user_id: u.id) %>
  <%= user_herbarium.length %> plantes proposées
  </small>
  </td>
<td width="60">
<div class="tab"><a href="/user/<%= u.id %>">PROFIL</a></div>
</td>
</tr> </table>


</div>
<%end%>

<%end%>