<h1>Aryonpédia</h1>
<div class="underh1">
<% unless current_user %>Bienvenue invité !
<% else %>Bienvenue <%= current_user.pseudo %> !
<%end%> </div>

<%if @user %>
<div class="alert alert-aryon" role="alert">
  <p>Votre compte a bien été crée ! <br />
  <a href="<%=new_session_path%>">Connectez vous</a>
  </p>
</div><br />
<% end %>

<div class="d-flex justify-content-between flex-nowrap">

<div style="width:470px;" class="home">

<p><h5>Qu'est ce que l'Aryonpédia ?</h5>
C'est un site annexe du forum RPG : <a href="http://aryon.forumactif.com/" target="_blank">LE ROYAUME D'ARYON</a>. <br /><br />
Il a pour but de <em>recenser toutes les créatures du bestiaire et les plantes de l'herbier de l'univers d'Aryon</em> pour permettre à ses membres de rechercher plus simplement et plus rapidement une créature ou une plante en particulier. </p>

<div class="separation"></div>
<p><h5>Quelques chiffres</h5>
<div class="btn-aryon btn" style="margin-bottom:5px;">
<% c = User.all %>
Nombre de contribueurs : <%= c.length %>
</div>
<div class="btn-aryon btn" style="margin-bottom:5px;">
<% b = Bestiary.all %>
Nombre de créatures  : <%= b.length %>
</div>
<div class="btn-aryon btn" style="margin-bottom:5px;">
<% h = Herbarium.all %>
Nombre de plantes : <%= h.length %>
</div>
</p>
<div class="separation"></div>

<p><h5>Comment feuilleter le bestiaire et l'herbier ?</h5>
Vous avez deux liens dans la barre de naviguation tout en haut : l'un pour le bestiaire et le second pour l'herbier. Ces liens vous mène a une page index de toutes les plantes et créatures qui ont été ajouté à l'Aryonpédia. <br /><br />
Vous trouverez ensuite à gauche différents critères qui vous permettent d'afficher uniquement les créatures et plantes attachées à ce critère !<br />
Ou directement rechercher une créature ou plante par son nom grâce à la barre de recherche. <br /><br />
Ensuite, vous pouvez cliquer directement sur l'image de votre créature / plante ou sur le lien <em>En savoir plus</em> pour pouvoir lire la fiche complète de la créature / plante. 
</p>

<div class="separation"></div>

<p><h5>Comment contribuer ?</h5>
Vous êtes membre du forum d'Aryon et vous avez de nombreuses idées de plantes ou d'animaux fantastiques ? Evidemment que vous pouvez contribuer à remplir notre Aryonpédia. <br /><br />
Pour cela, il faut que vous veniez demander l'autorisation pour créer un compte sur ce site en remplissant le formulaire et le postant à la suite de ce sujet : <a href="" target="_blank">www</a>. Puis un administrateur viendra valider votre demande et vous enverra par MP le code nécessaire à l'inscription. Une fois ce code obtenu, vous pouvez tout simplement créer un compte avec le bouton s'inscrire sur votre droite et vous connecter. <br />
Vous aurez ensuite accès à la page de création de créature / plantes et vous pourrez rajouter toutes les idées que vous avez ! Pensez à chaque fois que vous rajoutez quelque chose sur ce site, de venir le signaler sur le forum dans ce sujet : <a href="" target="_blank">www</a>. 
</p>
<div class="separation"></div>
<p><h5>Contacter un administrateur ? </h5>
Pas de formulaire de contact sur ce site. Si vous souhaitez contacter un administrateur, vous pouvez le faire via <a href="http://aryon.forumactif.com/" target="_blank">le forum d'Aryon</a>.<br />
<ul><li>Si vous êtes déjà membre, vous pouvez envoyer un message privée à <em>Atheas Renmyrth</em>, fondatrice du forum et du site
<li>Sinon, vous pouvez poster un message dans la <a href="http://aryon.forumactif.com/f8-questions-suggestions" target="_blank">zone invités</a>.
</ul>
</p>

</div>

<div style="width:20px;"> </div>

<div style="width:250px;">

<h5>Créature aléatoire</h5>
<% random = Bestiary.all.sample %>
<div class="article card d-flex flex-column justify-content-between">

  <div><a href="/bestiary/<%= random.id%>">
  <img src="<%= random.image%>" alt="image de la créature"></a><br />

  <div class="art_title"><%= random.name %></div></div>

  <div class="art_content">
  <span class="badge" style="background-color: <%= random.level.color %>;">
  <a href="/bestiary/level/<%= random.level.name %>"><%= random.level.name %></a></span> 
  <span class="badge" style="background-color: <%= random.rarity_bestiary.color %>;">
  <a href="/bestiary/rarity/<%= random.rarity_bestiary.name %>"><%= random.rarity_bestiary.name %></a></span>
  <span class="badge" style="background-color: <%= random.habitat_bestiary.color %>;">
  <a href="/bestiary/habitat/<%= random.habitat_bestiary.name %>"><%= random.habitat_bestiary.name %></a></span>
  </div>

  <a href="/bestiary/<%= random.id %>"><div class="art_foot">
    En savoir plus
  </div></a>

</div>
<br /><div class="separation"></div><br />

<h5>Plante aléatoire</h5>
<% herbarium = Herbarium.all.sample %>
<div class="article card d-flex flex-column justify-content-between">

<div><a href="/herbarium/<%= herbarium.id%>">
  <img src="<%= herbarium.image%>" alt="image de la plante"></a><br />

  <div class="art_title"><%= herbarium.name %></div></div>

  <div class="art_content">
  <span class="badge" style="background-color: <%= herbarium.category.color %>;" >
  <a href="/herbarium/category/<%= herbarium.category.name %>"><%= herbarium.category.name %></a></span>
  <span class="badge" style="background-color: <%= herbarium.rarity_herbarium.color %>;" >
  <a href="/herbarium/rarity/<%= herbarium.rarity_herbarium.name %>"><%= herbarium.rarity_herbarium.name %></a></span>
  <span class="badge" style="background-color: <%= herbarium.season.color %>;">
  <a href="/herbarium/season/<%= herbarium.season.name %>"><%= herbarium.season.name %></a></span>
  <span class="badge" style="background-color: <%= herbarium.habitat_herbarium.color %>;" >
  <a href="/herbarium/habitat/<%= herbarium.habitat_herbarium.name %>"><%= herbarium.habitat_herbarium.name %></a></span>
  </div>

  <a href="/herbarium/<%= herbarium.id %>"><div class="art_foot">
    En savoir plys
  </div></a>

</div><br /><div class="separation"></div><br />


<h5>Dernière créature</h5>
<% bestiary = Bestiary.last %>
<div class="article card d-flex flex-column justify-content-between">

<div><a href="/bestiary/<%= bestiary.id%>">
  <img src="<%= bestiary.image%>" alt="image de la créature"></a><br />

  <div class="art_title"><%= bestiary.name %></div></div>

  <div class="art_content">
  <span class="badge" style="background-color: <%= bestiary.level.color %>;">
  <a href="/bestiary/level/<%= bestiary.level.name %>"><%= bestiary.level.name %></a></span> 
  <span class="badge" style="background-color: <%= bestiary.rarity_bestiary.color %>;">
  <a href="/bestiary/rarity/<%= bestiary.rarity_bestiary.name %>"><%= bestiary.rarity_bestiary.name %></a></span>
  <span class="badge" style="background-color: <%= bestiary.habitat_bestiary.color %>;">
  <a href="/bestiary/habitat/<%= bestiary.habitat_bestiary.name %>"><%= bestiary.habitat_bestiary.name %></a></span>
  </div>

  <a href="/bestiary/<%= bestiary.id %>"><div class="art_foot">
    En savoir plus
  </div></a>

</div>
<br /><div class="separation"></div><br />

<h5>Dernière plante</h5>
<% herbarium = Herbarium.last %>
<div class="article card d-flex flex-column justify-content-between">

<div><a href="/herbarium/<%= herbarium.id%>">
  <img src="<%= herbarium.image%>" alt="image de la plante"></a><br />

  <div class="art_title"><%= herbarium.name %></div></div>

  <div class="art_content">
  <span class="badge" style="background-color: <%= herbarium.category.color %>;" >
  <a href="/herbarium/category/<%= herbarium.category.name %>"><%= herbarium.category.name %></a></span>
  <span class="badge" style="background-color: <%= herbarium.rarity_herbarium.color %>;" >
  <a href="/herbarium/rarity/<%= herbarium.rarity_herbarium.name %>"><%= herbarium.rarity_herbarium.name %></a></span>
  <span class="badge" style="background-color: <%= herbarium.season.color %>;">
  <a href="/herbarium/season/<%= herbarium.season.name %>"><%= herbarium.season.name %></a></span>
  <span class="badge" style="background-color: <%= herbarium.habitat_herbarium.color %>;" >
  <a href="/herbarium/habitat/<%= herbarium.habitat_herbarium.name %>"><%= herbarium.habitat_herbarium.name %></a></span>
  </div>

  <a href="/herbarium/<%= herbarium.id %>"><div class="art_foot">
    En savoir plys
  </div></a>

</div>

</div>

</div>