<%if @user %>
<div class="alert alert-info" role="alert">
  <p>Votre compte a bien été crée ! <br />
  <a href="<%=new_session_path%>">Connectez vous</a>
  </p>
</div><br />
<% end %>

<h1>Aryonpédia</h1><br />
<% unless current_user %>
<h3>Bienvenue invité ! </h3><br /><br />
<% else %>
<h3>Bienvenue <%= current_user.pseudo %> </h3><br /><br />

<%end%>
<strong>Qu'est ce que l'Aryonpédia ?</strong><br />
C'est un site annexe du forum RPG : <a href="http://aryon.forumactif.com/" target="_blank">LE ROYAUME D'ARYON</a>. <br />
Il a pour but de recenser toutes les créatures du bestiaire et les plantes de l'herbier de l'univers d'Aryon pour permettre à ses membres de rechercher plus simplement et plus rapidement une créature ou une plante en particulier. 

<br /><br />

<div class="d-flex justify-content-around">


<div style="width: 250px;">
Info !
</div>

<div style="width: 250px;">
<strong>Dernière créature ajoutée :</strong>
</div>

<div style="width: 250px;">
<strong>Dernière plante ajoutée :</strong>
</div>

</div>

<div class="d-flex justify-content-around">

<div style="width: 250px;">
Texte texte texte
</div>

<div class="article">
<% bestiary = Bestiary.last %>

  <img src="<%= bestiary.image%>" alt="image de la créature"><br />

  <div class="art_title"><%= bestiary.name %></div>

  <div class="art_info">Dangerosité : <%= bestiary.level.name %></div>

  <div class="art_info">Rareté : <%= bestiary.rarity_bestiary.name %></div>

  <div class="art_info">Habitat : <%= bestiary.habitat_bestiary.name %><br />
  <small><%= bestiary.location %></small></div>

  <div class="art_content" style="height:178px;"><%= bestiary.description %><br />
  <br /><strong>Taille :</strong> <%= bestiary.height %></div>

  <div class="art_foot">
    <%unless current_user%><%else %>
      <%if current_user.rank == "A.dmin0018" %>
        <a href="/bestiary/<%=bestiary.id%>/edit">EDITER</a> | 
      <%end%>
    <%end%>
    Proposé par <a href="/user/<%=bestiary.user.id%>"><%=bestiary.user.pseudo%></a></small>
  </div>

</div>

<div class="article">
<% herbarium = Herbarium.last %>

  <img src="<%= herbarium.image%>" alt="image de la plante"><br />

  <div class="art_title"><%= herbarium.name %></div>

  <div class="art_info">Catégorie : <%= herbarium.category.name %></div>

  <div class="art_info">Rareté : <%= herbarium.rarity_herbarium.name %></div>

  <div class="art_info">Habitat : <%= herbarium.habitat_herbarium.name %><br />
  <small><%= herbarium.location %></small></div>

  <div class="art_info">Saison : <%= herbarium.season.name %></div>

  <div class="art_content"><%= herbarium.description %><br />
  <br /><strong>Taille :</strong> <%= herbarium.height %></div>

  <div class="art_foot">
    <%unless current_user%><%else %>
      <%if current_user.rank == "A.dmin0018" %>
        <a href="/herbarium/<%=herbarium.id%>/edit">EDITER</a> | 
      <%end%>
    <%end%>
    Proposé par <a href="/user/<%=herbarium.user.id%>"><%=herbarium.user.pseudo%></a></small>
  </div>

</div>

</div>

<br /><br /><br />
----------------------------------------------------------------------------------
<table width="100%"><tr><td width="32%">

222

</td><td width="2%"></td><td width="32%">
<h3>Aperçu du bestiaire</h3>
<% b = Bestiary.all %>
Nombre de créatures : <%= b.length %>
<br /><br />
<strong>Dernière créature ajoutée :</strong>

<% bestiary = Bestiary.last %>

</div>
<div class="card">
  <img src="<%= bestiary.image%>" class="card-img-top" alt="image">
  <div class="card-header"><%= bestiary.name %></div>

  <ul class="list-group list-group-flush">
  <li class="list-group-item">
  Dangerosité :      <strong>      <%= bestiary.level.name %>      </strong></li>
  <li class="list-group-item">
  Rareté :      <strong>      <%= bestiary.rarity_bestiary.name %>      </strong></li>
<li class="list-group-item">
Habitat : <strong><%= bestiary.habitat_bestiary.name %></strong><br />
  <small><%= bestiary.location %></small>
  </ul>

  <div class="card-body">
  
    <p class="card-text">    
    <%= bestiary.description %><br /><br />
    Taille : <strong><%= bestiary.height %></strong>
    </p>
  </div>

  <ul class="list-group list-group-flush">
  <li class="list-group-item">
    <small class="text-muted">
    
    <%unless current_user%><%else %>
    <%if current_user.rank == "A.dmin0018" %>
    <a href="/bestiary/<%=bestiary.id%>/edit">EDITER</a> | 
    <%end%><%end%>
    
    Proposé par <a href="/user/<%=bestiary.user.id%>"><%=bestiary.user.pseudo%></a></small>
    </ul>

</div>

</td><td width="2%"></td><td width="32%">
<h3>Aperçu de l'herbier</h3>
<% h = Herbarium.all %>
Nombre de plantes : <%= h.length %>
<br /><br />
<strong>Dernière plante ajoutée :</strong>

<% herbarium = Herbarium.last %>
<div class="card">
  <img src="<%= herbarium.image%>" class="card-img-top" alt="image">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


</td></tr></table>
-----------------------------------------------------------------------------------------

<br /><br />
<strong>Comment contribuer ?</strong>

<br /><br />
<strong>Contacter un administrateur</strong>