<aside id="aside-home">
  <nav>
    <a href="#first">Qu'est ce que l'aryonpédia ?</a>
    <a href="#second">Comment contribuer ?</a>
    <a href="#third">Contact</a>
  </nav>
</aside>

<section id="back-home">
  <div>

    <div class="title-home">
      <h1>Aryonpédia</h1>
      <span class="under-title">Encyclopédie d'Aryon sur la faune et la flore</span>
    </div>

    <div class="f-left" id="home-left">
      <%=link_to "Bestiaire", bestiary_index_path %>
    </div>

    <div class="f-left" id="home-right">
      <%=link_to "Herbier", herbarium_index_path %>
    </div>

    <a href="#first"><i class="fas fa-angle-down"></i></a>
    <p>Image de Hgjart</p>

  </div>
</section> 

<section id="first">
  <h1>Qu'est ce que l'Aryonpédia ?</h1>
  <span class="under-title">C'est un site annexe du forum RPG : <a href="http://aryon.forumactif.com/" target="_blank">LE ROYAUME D'ARYON</a>. </span>
  <p class="mt-3">
    Il a pour but de <em>recenser toutes les créatures du bestiaire et les plantes de l'herbier de l'univers d'Aryon</em> pour permettre à ses membres de rechercher plus simplement et plus rapidement une créature ou une plante en particulier.
  </p>

  <h2 class="text-center">Quelques chiffres</h2>
  <% c = User.all %>
  <% b = Bestiary.all %>
  <% h = Herbarium.all %>
  <div class="d-flex justify-content-center">
    <div>
      Nombre de contribueurs : <br>
      <strong><%= c.length %></strong>
    </div>
    <div>
      Nombre de créatures  : <br>
      <strong><%= b.length %></strong>
    </div>
    <div>
      Nombre de plantes : <br>
      <strong><%= h.length %></strong>
    </div>
  </div>

<h2 class="text-center mt-5" id="second">Comment contribuer ?</h2>
<p>
Vous êtes membre du forum d'Aryon et vous avez de nombreuses idées de plantes ou d'animaux fantastiques ? Evidemment que vous pouvez contribuer à remplir notre Aryonpédia. <br /><br />
Pour cela, il faut que vous veniez demander l'autorisation pour créer un compte sur ce site en remplissant le formulaire et le postant à la suite de ce sujet : <a href="http://aryon.forumactif.com/t2056-contribuer-a-l-aryonpedia" target="_blank">www</a>. Puis un administrateur viendra valider votre demande et vous enverra par MP le code nécessaire à l'inscription. Une fois ce code obtenu, vous pouvez tout simplement créer votre compte. <br /><br>
Vous aurez ensuite accès à la page de création de créatures / plantes et vous pourrez rajouter toutes les idées que vous avez ! Pensez à chaque fois que vous rajoutez quelque chose sur ce site, de venir le signaler sur le forum dans ce sujet : <a href="http://aryon.forumactif.com/t2056-contribuer-a-l-aryonpedia" target="_blank">www</a>. <br>
<small class="mini">La créature ou plante que vous aurez proposé ne sera visible sur l'Aryonpédia qu'après validation du staff.</small>
</p>


</section>
<section id="third">
<h1>Contacter un administrateur ? </h1>
<p>
Pas de formulaire de contact sur ce site. Si vous souhaitez contacter un administrateur, vous pouvez le faire via <a href="http://aryon.forumactif.com/" target="_blank">le forum d'Aryon</a>.<br />
<ul><li>Si vous êtes déjà membre, vous pouvez envoyer un message privée à <em>Atheas Renmyrth</em>, fondatrice du forum et du site
<li>Sinon, vous pouvez poster un message dans la <a href="http://aryon.forumactif.com/f8-questions-suggestions" target="_blank">zone invités</a>.
</ul>
</p>


</section>
