
  <h1>Editer votre profil </h1>

  <br />

  <%if @user %>
  <div class="alert alert-danger" role="alert">
  <p>Nous n'avons pas réussi à modifier votre profil </p>
  </div><br />
<% end %>

  <% user = User.find(params[:id]) %>

  <%= form_for user do |u| %>
  
    <h3> <%= current_user.pseudo %> </h3>
  
    <div class="form-group">
    <label>Vos personnages</label>
    <%= u.text_area :character, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>Présentation</label>
    <%= u.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>URL de votre image de profil</label>
    <%= u.text_area :img_profile, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>Mot de passe</label>
    <%= u.text_area :password, class: "form-control" %>
    </div>
  
    <div class="form-group">
    <button type="submit" class="btn btn-info">Modifier</button>
    </div>
  
  <% end %>
  
  