<% id = params[:id] %>
<% user = User.find(id) %>


<h1>Profil de <%= user.pseudo %></h1>
  
<div id="profile">
<img src="<%=user.img_profile%>" class="img_profile" alt="image de profil">
  <h5>
  <%if user.rank != "Ar-admin2020" %>
  <%= user.rank %>
  <%else%> 
  Administrateur
  <%end%></h5>

  <p>
  <strong>Personnages : </strong> <%= user.character %><br />
  <small class="text-muted"><%= user.description %></small>
  </p>

  </p>
  </div>

<h1>Contributions</h1>

<%= @all_bestiary.length%> créatures | <%= @all_herbarium.length%> plantes

<div id="list-article">

    <%= render 'bestiary/list_bestiary'%>
    <%= render 'herbarium/list_herbarium'%>

</div>
