<% id = params[:id] %>
<% user = User.find(id) %>

<h1>Profil de <%=user.pseudo %></h1>

<% if current_user.id == user.id %>
<a href="<%=edit_user_path%>">Editer le profil</a><br /><br />
<%end%>

Rang : 
<%if current_user.rank != "A.dmin0018" %>
<%= current_user.rank %>
<%else%>
Administrateur
<%end%>
<br /><br />
Personnages : <%= user.character %>
<br /><br />
Description : <%= user.description %>
<br /><br />
<img src="<%=user.img_profile%>" class="img_profile">


<br /><br />
-------------------


<br /><br />	