<% id = params[:id] %>
<% user = User.find(id) %>

  
<div id="profile">
  <div>
    <h1><%= user.pseudo %></h1> 
    <span class="under-title">
      <%if user.rank != "Ar-admin2020" %>
        <%= user.rank %>
      <%else%> 
        Administrateur
      <%end%>
    </span>
  </div>
  <img src="<%=user.img_profile%>" alt="image de profil">
  <p>
    <strong>Personnages : </strong> <%= user.character %><br />
    <small class="text-muted"><%= user.description %></small>
  </p>

</div>

<h1>Contributions</h1> 
<span class="under-title">
  <%= @all_bestiary.length%> créatures | 
  <%= @all_herbarium.length%> plantes
</span>


<div id="list-article">

    <%= render 'bestiary/list_bestiary'%>
    <%= render 'herbarium/list_herbarium'%>

</div>
