<aside id="all-list">
  <div class="f-left">
    <%= link_to "Tout afficher", bestiary_index_path%>
  </div>
  <div class="vertical-menu f-one">
    <i class="fas fa-caret-down"></i>
  </div>
</aside>

<aside id="level">
  <div class="f-left">
    <nav>
      <% @all_level.each do |lv| %>
        <%= link_to search_path(lv.name), :remote => true do %>
          <span style="border-left: 10px solid <%= lv.color %> !important;">
            <%= lv.name %>
          </span>
        <% end %>
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Dangerosité
  </div>
</aside>

<aside id="rarity">

  <div class="f-left">
    <nav>
      <% @all_rarity.each do |r| %>
        <%= link_to search_path(r.name), :remote => true do %>
          <span style="border-left: 10px solid <%= r.color %>;">
            <%= r.name %>
          </span> 
        <% end %>
      <%end%>
    </nav>       
  </div>
  <div class="vertical-menu f-one">
    Rareté
  </div>
</aside>

<aside id="habitat">
  <div class="f-left">
    <nav>
      <% @all_habitat.each do |h| %>
        <%= link_to search_path(h.name), :remote => true do %>
          <span style="border-left: 10px solid <%= h.color %>;">
            <%= h.name %>
          </span> 
        <% end %>
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Habitats
  </div>
</aside>

<aside id="pet">
  <div class="f-left">
    <nav>
      <% @all_pet.each do |p| %>
        <% if p.id != 1 %>
          <%= link_to search_path(p.name), :remote => true do %>
            <span style="border-left: 10px solid <%= p.color %>;">
              <%= p.name %>
            </span> 
          <% end %>
        <%end%>
      <%end%>
    </nav>
  </div>
  <div class="vertical-menu f-one">
    Familiers
  </div>
</aside>