

<% @all_bestiary.each do |bestiary| %>

  <article>
    <a href="/bestiary/<%= bestiary.id %>">
      <img src="<%= bestiary.image%>" alt="image de la créature">
    </a>
    
    <h2>
      <%= bestiary.name %>
    </h2>
    <p>
      Dangerosité : <strong><%= bestiary.level.name %></strong><br>
      Rareté : <strong><%= bestiary.rarity_bestiary.name %></strong><br>
      Habitat : <strong><%= bestiary.habitat_bestiary.name %></strong>
    </p>

  </article>
  

<% end %> 
