
<div class="left">
<div class="titleleft">Bestiaire</div>
<a href="<%= new_bestiary_path%>" class="navleft">Ajouter une créature</a>
<a href="/bestiary" class="navleft">Voir toutes les créatures</a>

<div class="index_list">

    <strong>Afficher les créatures par dangerosité : </strong><br />
    <% all_level = Level.all%>
    <% all_level.each do |lv| %>
        <a href="bestiary/level/<%= lv.name%>"><%= lv.name %></a> - 
    <%end%>

    <br /><br />
    <strong>Afficher les créatures par rareté : </strong><br />
    <% all_rarity = RarityBestiary.all%>
      <% all_rarity.each do |r| %>
        <a href="bestiary/rarity/<%= r.name%>"><%= r.name %></a> - 
      <%end%>

    <br /><br />
    <strong>Afficher les créatures par habitat : </strong><br />

    <% all_habitat = HabitatBestiary.all%>
      <% all_habitat.each do |h| %>
        <a href="bestiary/habitat/<%= h.name%>"><%= h.name %></a> - 
      <%end%>

  </div>
</div>



<h1>Bestiary index</h1>

<br /><br />
<h2>Toutes les créatures du bestiaire</h2>
<br />  
<% all_bestiary = Bestiary.all %>

<div class="d-flex justify-content-around">

<% all_bestiary.each do |bestiary| %>

  <div class="article">
  
  <a href="/bestiary/<%= bestiary.id%>">
    <img src="<%= bestiary.image%>" alt="image de la créature"></a><br />
  
    <div class="art_title"><%= bestiary.name %></div>
  
    <div class="art_content">
    <span class="badge badge-secondary"><%= bestiary.level.name %></span>
    <span class="badge badge-info"><%= bestiary.rarity_bestiary.name %></span>
    <span class="badge badge-light"><%= bestiary.habitat_bestiary.name %></span>
    </div>
  
    <a href="/bestiary/<%= bestiary.id %>"><div class="art_foot">
      En savoir plus
    </div></a>
  
  </div>

<% end %>
</div>