<h1>Bestiary index</h1>

<%= link_to "ajouter une créature au bestiaire", new_bestiary_path %>

<br /><br />
<strong>Afficher les créatures par dangerosité : </strong><br />
<% all_level = Level.all%>
<% all_level.each do |lv| %>
    <a href="bestiary/level/<%= lv.name%>"><%= lv.name %></a> - 
<%end%>

<br /><br />
<strong>Afficher les créatures par rareté : </strong><br />
<% all_rarity = RarityBestiary.all%>
  <% all_rarity.each do |r| %>
    <a href="bestiary/rarity/<%= r.name%>"><%= r.name %></a> - 
  <%end%>

<br /><br />
<strong>Afficher les créatures par habitat : </strong><br />

<% all_habitat = HabitatBestiary.all%>
  <% all_habitat.each do |h| %>
    <a href="bestiary/habitat/<%= h.name%>"><%= h.name %></a> - 
  <%end%>

<br /><br />
<h2>Toutes les créatures du bestiaire</h2>
<br />  
<% all_bestiary = Bestiary.all %>
<% all_bestiary.each do |b| %>

    Nom : <%= b.name %> | <%= b.level.name %> <br />
    Habitat : <%= b.habitat_bestiary.name %> - <%= b.location %><br />
    Taille : <%= b.height %> | Rareté : <%= b.rarity_bestiary.name %> <br />
    Description : <%= b.description %> <br /><br />
    <img src="<%= b.image %>" class="img_index"><br /><br />
    Proposé par : <%= b.user.pseudo %>
    <br /><br />

    <%unless current_user%><%else %>
    <%if current_user.rank == "A.dmin0018" %>
    <a href="/bestiary/<%=b.id%>/edit">Editer</a>
    <%end%><%end%><br /><br />
    --------

<% end %>


<div class="card-columns">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>