<h1>Bestiary index</h1>

<%= link_to "ajouter une créature au bestiaire", new_bestiary_path %>

<br /><br />
<strong>Afficher les créatures par dangerosité : </strong><br />
<% all_level = Level.all%>
<% all_level.each do |lv| %>
    <a href="bestiary/level/<%= lv.name%>"><%= lv.name %></a> - 
<%end%>

<br /><br />
<strong>Afficher les créatures par rareté : </strong><br />
<% all_rarity = RarityBestiary.all%>
  <% all_rarity.each do |r| %>
    <a href="bestiary/rarity/<%= r.name%>"><%= r.name %></a> - 
  <%end%>

<br /><br />
<strong>Afficher les créatures par habitat : </strong><br />

<% all_habitat = HabitatBestiary.all%>
  <% all_habitat.each do |h| %>
    <a href="bestiary/habitat/<%= h.name%>"><%= h.name %></a> - 
  <%end%>

<br /><br />
<h2>Toutes les créatures du bestiaire</h2>
<br />  
<% all_bestiary = Bestiary.all %>
<% all_bestiary.each do |b| %>

    Nom : <%= b.name %> | <%= b.level.name %> <br />
    Habitat : <%= b.habitat_bestiary.name %> - <%= b.location %><br />
    Taille : <%= b.height %> | Rareté : <%= b.rarity_bestiary.name %> <br />
    Description : <%= b.description %> <br /><br />
    <img src="<%= b.image %>" class="img_index"><br /><br />
    Proposé par : <%= b.user.pseudo %>
    <br /><br />

    <%if current_user.rank == "A.dmin0018" %>
    <a href="/bestiary/<%=b.id%>/edit">Editer</a>
    <%end%><br /><br />
    --------

<% end %>