
<div class="left">
<div class="titleleft">Bestiaire</div>
<a href="<%= new_bestiary_path%>" class="navleft">Ajouter une créature</a>
<a href="/bestiary" class="navleft">Voir toutes les créatures</a>

<div class="index_list">

    <strong>Dangerosité : </strong><br />
    <% all_level = Level.all%>
    <% all_level.each do |lv| %>
      <span style="background-color: <%= lv.color %>;" class="badge">
        <a href="/bestiary/level/<%= lv.name%>"><%= lv.name %></a></span>
    <%end%>

    <br /><br />
    <strong>Rareté : </strong><br />
    <% all_rarity = RarityBestiary.all%>
      <% all_rarity.each do |r| %>
        <span style="background-color: <%= r.color %>;" class="badge">
        <a href="/bestiary/rarity/<%= r.name%>"><%= r.name %></a></span>
      <%end%>

    <br /><br />
    <strong>Habitat : </strong><br />

    <% all_habitat = HabitatBestiary.all%>
      <% all_habitat.each do |h| %>
        <span style="background-color: <%= h.color %>;" class="badge">
        <a href="/bestiary/habitat/<%= h.name%>"><%= h.name %></a></span> 
      <%end%>

  </div>
</div>



<% bestiary = Bestiary.find(params[:id]) %>

<div class="card" style="max-width: 760px;">

  <div class="art_title_show"><%= bestiary.name %></div>

  <div class="row no-gutters">
    <div>
      <img src="<%= bestiary.image %>" class="img_profile" alt="image de la créature">
    </div>
    
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">

        Dangerosité : <font style="background-color:<%= bestiary.level.color %>;"><%= bestiary.level.name %></font><br />
        Rareté : <font class="badge" style="background-color:<%= bestiary.rarity_bestiary.color %>;"><%= bestiary.rarity_bestiary.name %></font><br />
        Habitat : <font style="background-color:<%= bestiary.habitat_bestiary.color %>;"><%= bestiary.habitat_bestiary.name %></font><br />
        <small><%= bestiary.location %></small><br />
        Taille : <%= bestiary.height %><br />        
        
        </p>
      </div>
    </div>
  </div>

  <div class="art_descrip">
    <%= bestiary.description %>
  </div>

</div>
<br /><br />

<input type="checkbox"  id="spoiler" /> 
<label for="spoiler">Voir l'image en plus grand</label>
<div class="spoiler">
<img class="big_image" src="<%= bestiary.image %>">
</div>
