<!DOCTYPE html>
<html>
  <head>
    <title>Aryonpedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic|Shadows+Into+Light&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

  <body><div class="body">


  <div class="d-flex flex-nowrap navbarre">
    <div class="b_nav">
      <a class="nav-link" href="<%= bestiary_index_path %>"> < Bestiaire</a>
    </div>
    <div class="h_nav">
      <a class="nav-link" href="<%= herbarium_index_path %>">Herbier ></a>
    </div>
  </div>
  


 
<% unless current_user %>
<div class="profile_pos">
      <a class="navleft" href="<%=new_user_path%>">Inscription</a>
      <a class="navleft" href="<%=new_session_path%>">Connexion</a>
</div>

<% else %>
<div class="profile_pos">
  <img src="<%=current_user.img_profile%>">

  <div class="profile">
  <%= current_user.pseudo %><br />
  <%if current_user.rank != "A.dmin0018" %>
    <%= current_user.rank %>
  <%else%>
    Administrateur
  <%end%><br />

  <a href="/user/<%= current_user.id%>">Profil</a><br />
  <%= link_to "Se déconnecter", session_path(session.id), method: :delete%>
  <br /><br />

  <div class="separation"></div>
  <br />
  <strong>Contribution</strong><br />
  <% b = Bestiary.where(user_id: current_user.id) %>
  Créatures : <%= b.length %><br />
  <% h = Herbarium.where(user_id: current_user.id) %>
  Plantes : <%= h.length %>

  </div>

  <% if current_user.rank == "A.dmin0018"%>
    <a href="<%=admin_path%>" class="aryon">Panneau d'administration</a>
  <%end%>


  <a class="navleft" href="<%=new_user_path%>">Inscription</a>
  <a class="navleft" href="<%=new_session_path%>">Connexion</a>
</div>

<%end%>

<div class="d-flex flex-nowrap">
<div class="left_box">

<div style="position: fixed; width:260px; z-index:2;">
  <a href="<%= root_path %>" class="navleft" >Accueil</a>
  <a href="http://aryon.forumactif.com/" class="navleft" target="_blank">Le forum</a>
  <a href="http://aryon.forumactif.com/" class="aryon" target="_blank">
    http://aryon.forumactif.com/
  </a>
  </div>

</div>
<div class="box">
    <%= yield %>
</div>
</div>

</div>
  </body>
</html>
