<!DOCTYPE html>
<html>
  <head>
    <title>Aryonpedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a05a567acc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    
    <% if cookies[:moon] %>
    <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>


  <body>
  <%= render 'layouts/header'%>
  <main>

    <%= yield %>
  
  </main>

  <%= render 'layouts/footer' %>


  </body>
</html>
