<!DOCTYPE html>
<html>
  <head>
    <title>Aryonpedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic|Shadows+Into+Light&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a05a567acc.js" crossorigin="anonymous"></script>
    
    <% if cookies[:moon] %>
    <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>


  <body>

  <%= render 'layouts/header'%>

  <main>

    <%= yield %>
  
  </main>

  <%= render 'layouts/footer' %>


  </body>
</html>
